# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

#Ignoring compliled files of RequestAPI
.idea/
pytest_html_report.html
archive
assets
*/report.html
RequestAPI/report.html
RequestAPI/settings.cfg



# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

#Ignoring compliled files of HQSmokeTests
HQSmokeTests/Pages/__pycache__/
HQSmokeTests/TestBase/__pycache__/
HQSmokeTests/TestScripts/__pycache__/
HQSmokeTests/Pages/generatedUserInputs.csv
HQSmokeTests/TestScripts/generatedUserInputs.csv
AutomationTestReports/
output.json
/HQSmokeTests/testCases/report.html
/report.html
HQSmokeTests/report.html
HQSmokeTests/settings.cfg
/HQSmokeTests/userInputs/test_data/reassign_cases_*


#Ignoring compliled files of POCs

## Formplayer ##
POCs/CypressFormplayerTests/node_modules
POCs/CypressFormplayerTests/cypress.env.json
POCs/CypressFormplayerTests/npm-debug.log
POCs/CypressFormplayerTests/videos
POCs/CypressFormplayerTests/test.ts
POCs/CypressFormplayerTests/screenshots
POCs/CypressFormplayerTests/.vscode

## Locust Scripts ##

POCs/LocustScripts/project-config/syria-support/user_credentials.json
../../../.idea/workspace.xml


#Ignoring compliled files of USH Apps
USH_Apps/NY_CICT/Reports/*
USH_Apps/NY_CICT/Utilities/user_inputs.robot
USH_Apps/NY_CICT/Base/__pycache__
USH_Apps/NY_CICT/Tests/selenium*
USH_Apps/NY_CICT/Tests/log.html
USH_Apps/NY_CICT/Tests/report.html
USH_Apps/NY_CICT/Tests/output.xml
/selenium*
/log.html
/output.xml
/.pabotsuitenames
/pabot_results/*


#Ignoring compliled files of NY Performance
AppSprintPerformanceTests/CICT/CaptureReadings/report.html
AppSprintPerformanceTests/CICT/CaptureReadings/NY_reading.csv
AppSprintPerformanceTests/CICT/CaptureReadings/final_reading.xlsx
AppSprintPerformanceTests/CICT/report.html
AppSprintPerformanceTests/CICT/settings.cfg
common_utilities/OutputFiles
common_utilities/reading.csv

#Ignoring compliled files of QA_Requests
QA_Requests/PerfTickets/settings.cfg
QA_Requests/PerfTickets/testCases/report.html
QA_Requests/PerfTickets/testCases/OutputFiles/

#Ignoring compliled files of Perf Testing
QA_Requests/MultiSelectPerf/settings.cfg
QA_Requests/MultiSelectPerf/OutputFiles/*

#Ignoring compliled files of CaseSearch
Features/CaseSearch/settings.cfg
Features/CaseSearch/report.html



