## NY App Script

venv
log.html
report.html
output.xml
selenium-screenshot*
.idea
.git
.project
.pydevproject
/USH Apps/NY_CICT/Utilities/user_inputs.robot/
/USH Apps/NY_CICT/Base/__pycache__
libspecs
red.xml
Reports
*.zip


